<div class=" mgnt mt-2" style=" font: 31.5;  padding-top: 130px; padding-bottom: 160px;
text-align: center;">
      <h4 style="padding-top: 3rem; color: #9e93dd; " class="hh mt-5"   id="heads">ALL FEATURES    </h4>
      <h1 style="padding-top: 1rem;" class="mb-3" id="heads">All the Ingredients to Host a Successful <br> Virtual or Hybrid Event</h1>
      <h4 class="mb-5 mt-3" id="heads">Imercfy virtual events platform offers a broad range of solutions to help you take your events online. </h4>
    <button class="btn btn next my-2 mx-2 my-sm-0 mb-3 " type="button"> <strong> Schedule a demo </strong></button>

  
</div>
<div class="" style=" font: 31.5; 
text-align: center;">

    <h1 style="padding-top: 5rem;" class="mb-3" id="heads">Use Our Full Suite of Features for All <br>
        Your Event Needs</h1>
      <h4 class="mb-5 mt-3" id="heads">The best part about Imercfy virtual and hybrid events? Our wide range of features <br> support any type of event you can dream up.    </h4>

    </div>



    <div>
      <!-- <p class="sub mb-5 " style=" padding-top: 50px; font-size: 24px; text-align: center;">Stop boring audiences
        with events that look the same. We offer 3D Visual Designs & Animations
        that make you stand out & make <br>your sponsors dazzle.</p> -->
    </div>
    
    <div class=" gh row" >
      <div class="col-10" >
       
    <div class="  row d-flex align-left ">
      <div
        class=" texts  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2  ">
        <div  class="texts">
          <div
          class=" text  ">
          <h1 id="heads" class="heads">Super Simple Event Setup </h1>
          <p class="sub" style=" line-height: 1.5;font-size: 18px"> The Imercfy experience combines easy setup with dedicated end-to-end<br> support so 
            you can create incredible virtual experiences.
          </p>
        </div>
          <div (click)="slider(1)" class="subs"[ngStyle]="{'background-color': text==true?'#E5EEF3':'','box-shadow': text==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
            <p><b> Make a Splash with a Custom Landing Page</b><i *ngIf="icon==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon==true"></i></p> <br>
            <!-- <p *ngIf="text==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p> -->
            <p *ngIf="text==true" > Nail your first impression with a beautiful, custom event landing page and registration </p>
          </div>
          <div (click)="slider(2)" class="subs" [ngStyle]="{'background-color': text1==true?'#E5EEF3':'','box-shadow': text1==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
            <p><b> Design a Custom 3D Virtual Venue </b><i *ngIf="icon1==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon1==true"></i>
            </p> <br>
            <p *ngIf="text1==true" style="  line-height: 22px;"> Make your attendees feel at home. Customizable 3D virtual environments can be modelled after any real life venue! </p>
          </div>
          <div (click)="slider(3)" class="subs" [ngStyle]="{'background-color': text2==true?'#E5EEF3':'','box-shadow': text2==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
            <p> <b>Control Customizations in Our Event Builder</b> <i *ngIf="icon2==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon2==true"></i></p> <br>
            <p *ngIf="text2==true" style="  line-height: 22px;"> Imercfy backend system gives you full control of webinar schedules, exhibit booths, user access and more. </p>
          </div>
          <div (click)="slider(4)" class="subs" [ngStyle]="{'background-color': text3==true?'#E5EEF3':'','box-shadow': text3==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
            <p> <b> Attendance Rates through Email Marketing </b><i *ngIf="icon3==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon3==true"></i></p> <br>
            <p *ngIf="text3==true" style="  line-height: 22px;"> Send custom-designed emails to segmented lists for pre, during, and post-event communications. </p>
          </div>
          <div (click)="slider(5)" class="subs" [ngStyle]="{'background-color': text4==true?'#E5EEF3':'','box-shadow': text4==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
            <p><b> Rest Easy with the Help of Customer Support </b><i *ngIf="icon4==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon4==true"></i></p> <br>
            <p *ngIf="text4==true" style="  line-height: 22px;"> You’re in good hands with a dedicated project manager who will walk you through the process from end to end.</p>
          </div>

        </div>
       


        <!-- <a class="learn-more" style="   text-decoration: none; color: #9e93dd;"> See All Features Of Virtual Event
          &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a> -->

      </div>
      <div 
        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2 ">
        <div *ngIf="image1==false" style=" padding-top: 5px; height: 100%;   "><img src="../../assets/landing/toy.png"
            alt="totalhrs" class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
        <div *ngIf="image1==true" style=" padding-top: 5px; height: 100%;"><img src={{image}} alt="totalhrs"
            class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
      </div>
    </div>
  </div>
</div>

  <div style="padding-top: 8rem;" class=" green gh row" >
      <div class=" col-10" >
    
    <div class="  row d-flex align-left ">
     
      <div 
        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2 ">
        <div *ngIf="image1==false" style=" padding-top: 5px; height: 100%;   "><img src="../../assets/landing/toy.png"
            alt="totalhrs" class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
        <div *ngIf="image1==true" style=" padding-top: 5px; height: 100%;"><img src={{image}} alt="totalhrs"
            class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
      </div>
      <div
      class=" texts  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2  ">
      
      <div   class="texts">
       <div class=" text  ">
        <h1 id="heads" class="heads">Unforgettable Virtual Venues </h1>
        <p class="sub" style=" line-height: 1.5;font-size: 18px"> Brace for high-impact, beautiful virtual venues that are user-friendly <br> even for the least tech-savvy audiences.
        </p>
      </div>
        <div (click)="slider(1)" class="  subs"[ngStyle]="{'background-color': text==true?'#E5EEF3':'','box-shadow': text==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
          <p><b> Make a Splash with a Custom Landing Page</b><i *ngIf="icon==false" class=" float-end fa fa-angle-up"></i><i
              class="float-end fa fa-angle-down" *ngIf="icon==true"></i></p> <br>
          <!-- <p *ngIf="text==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p> -->
          <p *ngIf="text==true" style="  line-height: 22px;" > Nail your first impression with a beautiful, custom event landing page and registration </p>
        </div>
        <div (click)="slider(2)" class="subs"[ngStyle]="{'background-color': text1==true?'#E5EEF3':'','box-shadow': text1==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
          <p><b> Design a Custom 3D Virtual Venue </b><i *ngIf="icon1==false" class=" float-end fa fa-angle-up"></i><i
              class="float-end fa fa-angle-down" *ngIf="icon1==true"></i>
          </p> <br>
          <p *ngIf="text1==true" style="  line-height: 22px;"> Make your attendees feel at home. Customizable 3D virtual environments can be modelled after any real life venue! </p>
        </div>
        <div (click)="slider(3)" class="subs"[ngStyle]="{'background-color': text2==true?'#E5EEF3':'','box-shadow': text2==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
          <p> <b>Control Customizations in Our Event Builder</b> <i *ngIf="icon2==false" class=" float-end fa fa-angle-up"></i><i
              class="float-end fa fa-angle-down" *ngIf="icon2==true"></i></p> <br>
          <p *ngIf="text2==true" style="  line-height: 22px;"> Imercfy backend system gives you full control of webinar schedules, exhibit booths, user access and more. </p>
        </div>
        <div (click)="slider(4)" class="subs"[ngStyle]="{'background-color': text3==true?'#E5EEF3':'','box-shadow': text3==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
          <p> <b> Attendance Rates through Email Marketing </b><i *ngIf="icon3==false" class=" float-end fa fa-angle-up"></i><i
              class="float-end fa fa-angle-down" *ngIf="icon3==true"></i></p> <br>
          <p *ngIf="text3==true" style="  line-height: 22px;"> Send custom-designed emails to segmented lists for pre, during, and post-event communications. </p>
        </div>
        <div (click)="slider(5)" class="subs"[ngStyle]="{'background-color': text4==true?'#E5EEF3':'','box-shadow': text4==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
          <p><b> Rest Easy with the Help of Customer Support </b><i *ngIf="icon4==false" class=" float-end fa fa-angle-up"></i><i
              class="float-end fa fa-angle-down" *ngIf="icon4==true"></i></p> <br>
          <p *ngIf="text4==true" style="  line-height: 22px;"> You’re in good hands with a dedicated project manager who will walk you through the process from end to end.</p>
        </div>

      </div>


      <!-- <a class="learn-more" style="   text-decoration: none; color: #9e93dd;"> See All Features Of Virtual Event
        &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a> -->

    </div>
    </div>
  </div>
</div>